@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: slateblue;
  --secondary-color: rgb(248, 180, 101);
  --third-color: #ff8787;
  --fourth-color: #87bfff;
  --shadow-primary-color: rgb(122, 107, 218, 0.3);
}

/* style for custom scrollbar */
::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  position: fixed;
}

#progressBar {
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  position: fixed;
  z-index: 99;
  animation: animate 5s linear infinite;
  background: linear-gradient(
    to top,
    var(--primary-color),
    var(--secondary-color)
  );
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressBar::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: linear-gradient(
    to top,
    var(--primary-color),
    var(--secondary-color)
  );
  filter: blur(10px);
}

#progressBar::after {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  position: absolute;
  filter: blur(30px);
  background: linear-gradient(
    to top,
    var(--primary-color),
    var(--secondary-color)
  );
}
/* End style unique scroll page */

/* Style for loader */
.load {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000000;
  background: white;
  display: none;
  place-content: center;
}

.load .loader {
  width: 400px;
  height: 50px;
  background: rgb(238, 238, 238);
  display: flex;
  border-radius: 50px;
}

.load .loader .box {
  width: 50px;
  height: 50px;
  background-color: rgb(69, 124, 228);
  animation: load 1.3s both infinite;
  animation-delay: 2s;
  border-radius: 50px;
}

@keyframes load {
  0% {
    width: 0px;
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(100%);
  }
}
/* End loader style */

/* style for custom cursor */
.cursor {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100%, 100%;
}

.link-grow {
  transform: scale(2);
  background-color: var(--secondary-color);
  z-index: -1;
}

.p-link-grow {
  background-color: var(--secondary-color);
  opacity: 50%;
}
/* end custom cursor style */

/* style for nav */
.my-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100px;
  font-size: 1.5rem;
  position: fixed;
  z-index: 1000;
}

.my-nav .my-nav-logo h3 {
  font-style: bold;
}

.my-nav.fixed {
  background-color: white;
  box-shadow: 0 0 20px rgba(168, 167, 167, 0.3);
  transition: background 0.3s ease-in;
}

.my-nav-list ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.my-nav-list ul li {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.my-nav-list ul li img {
  width: 20px;
  height: 20px;
  display: flex;
}

.my-nav-list ul li a {
  text-decoration: none;
  position: relative;
}

.my-nav-list ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: var(--primary-color);
  width: 30%;
  height: 3px;
}

.my-nav-icons {
  display: none;
}

.my-nav-button {
  width: 200px;
  height: 80px;
  display: grid;
  place-content: center;
}

.my-nav-button button {
  background: none;
  border: none;
  outline: none;
  width: 150px;
  height: 50px;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease-in;
  font-size: 18px;
}

.my-nav-button button:hover {
  box-shadow: 0 0 20px var(--shadow-primary-color);
  cursor: pointer;
}
/* end nav style */

h3 {
  font-size: 3rem;
  font-weight: inherit;
  position: relative;
}

/* style for header */
.my-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100vw;
  min-height: 100vh;
  padding: 0 150px;
  box-sizing: border-box;
}

.my-header .header-text {
  display: grid;
  place-content: center start;
}

.my-header .header-text span {
  width: 50px;
  height: 8px;
  background-color: var(--secondary-color);
  border-radius: 50px;
}

.my-header .header-text h4 {
  font-size: 3rem;
  font-weight: inherit;
  color: rgb(65, 64, 64);
}

.my-header .header-text h2 {
  font-size: 5rem;
  font-weight: inherit;
}

.my-header .header-text-link {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
}

.my-header .header-text .header-text-link a:nth-child(1) {
  text-decoration: none;
  display: grid;
  place-content: center;
  width: 150px;
  height: 50px;
  background-color: var(--third-color);
  border-radius: 50px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-in;
}

.my-header .header-text .header-text-link a:nth-child(1):hover {
  background-color: #ffacac;
}

.my-header .header-text .header-text-link a:nth-child(2) {
  text-decoration: none;
  display: grid;
  place-content: center;
  width: 150px;
  height: 50px;
  border: 3px solid var(--third-color);
  border-radius: 50px;
  margin-right: 20px;
  color: var(--third-color);
  font-size: 20px;
  transition: all 0.3s ease-in;
}

.my-header .header-text .header-text-link a:nth-child(2):hover {
  background-color: var(--third-color);
  color: white;
}

.my-header .header-image {
  display: flex;
}

.my-header .header-image img {
  object-fit: contain;
  object-position: center;
}
/* end header style */

/* style for about */
.my-about {
  padding: 0 150px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100vw;
  min-height: 100vh;
}

.my-about .about-text {
  display: grid;
  place-content: center;
}

.my-about .about-text h3::after {
  content: "";
  width: 10%;
  height: 5px;
  border-radius: 50px;
  display: flex;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
}

.my-about .about-text p {
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 1px;
  margin: 20px 0;
}

.my-about .about-image {
  display: flex;
}

.my-about .about-image img {
  object-fit: contain;
  object-position: center;
}
/* end about style */

/* style for food */
.my-food {
  display: grid;
  width: 100vw;
  min-height: 100vh;
  padding: 0 150px;
  box-sizing: border-box;
}

.my-food .food-text {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.my-food .food-text .food-search {
  padding: 10px;
}

.my-food .food-text .food-search input {
  padding: 1rem;
  border: none;
  outline: none;
  background-color: rgb(224, 224, 224, 0.4);
  border-radius: 5px;
  font-size: 20px;
  color: rgb(80, 80, 80);
}

.my-food .food-text h3::after {
  content: "";
  width: 10%;
  height: 5px;
  border-radius: 50px;
  display: flex;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
}

.my-food .food-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 10px;
}

.my-food .food-list .food-card {
  padding: 30px;
}

.my-food .food-list .food-card:hover {
  box-shadow: 0 0 20px rgb(128, 128, 128, 0.3);
  transition: all 0.3s ease-in;
}

.my-food .food-list .food-card .food-card-image {
  display: flex;
  position: relative;
  overflow: hidden;
}

.my-food .food-list .food-card .food-card-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease-in;
}

.my-food .food-list .food-card .food-card-image img:hover {
  transform: scale(1.3) rotate(5deg);
}

.my-food .food-list .food-card .food-card-image button {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 9px;
  margin-right: 7px;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: white;
  box-shadow: 0 0 10px rgb(235, 138, 27, 0.4);
  cursor: pointer;
}

.my-food .food-list .food-card .food-card-body {
  display: grid;
}

.my-food .food-list .food-card .food-card-body p {
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 1px;
  margin: 20px 0;
}

.my-food .food-list .food-card .food-card-body .harga {
  display: flex;
  justify-content: space-between;
}

.my-food .food-list .food-card .food-card-body .harga h4 {
  font-size: 1.3rem;
  font-style: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

.my-food .food-list .food-card .food-card-body .harga a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
/* end food style */

/* style for class chat */
.chat {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  background-color: var(--third-color);
  border-radius: 50%;
  margin: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.chat:hover {
  transform: scale(1.1) rotate(30deg);
  box-shadow: 0 0 30px rgb(238, 116, 126);
}

.chat svg {
  width: 50px;
  height: 50px;
  color: white;
}
/* end chat style */

/* style for class quote */
.my-quote {
  width: 100vw;
  height: 40vh;
  display: grid;
  place-content: center;
  background: url(../img/image/undraw_special_event_4aj8.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 30px 0;
  position: relative;
}

.my-quote::after {
  content: "";
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  opacity: 40%;
}

.my-quote h3 {
  font-size: 4rem;
  color: white;
  font-style: italic;
  letter-spacing: 2px;
  z-index: 2;
}
/* end quote style */

/* style for class contact */
.my-reservation {
  width: 100vw;
  min-height: 100vh;
  padding: 0 150px;
  box-sizing: border-box;
}

.my-reservation .reservation-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0;
  text-align: center;
}

.my-reservation .reservation-text p {
  font-size: 1.5rem;
  margin: 20px 0;
  font-style: italic;
  color: rgb(82, 80, 80);
  letter-spacing: 2px;
}

.my-reservation .reservation-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  padding: 20px;
}

.my-reservation .reservation-list .reservation-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.my-reservation .reservation-list .reservation-info .card-info {
  display: flex;
  padding: 1em;
  margin: 10px 0;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}

.my-reservation .reservation-list .reservation-info .card-info:hover {
  box-shadow: 0 0 10px rgb(160, 160, 160, 0.4);
}

.my-reservation .reservation-list .reservation-info .card-info .card-number {
  width: 100px;
  font-size: 3rem;
  font-weight: bold;
  display: grid;
  place-content: center;
}

.my-reservation .reservation-list .reservation-info .card-info .card-text {
  font-size: 1.3rem;
  display: grid;
  place-content: center;
}

.my-reservation .reservation-list .reservation-card {
  padding: 1em 2em;
  transition: all 0.3s ease-in;
}

.my-reservation .reservation-list .reservation-card:hover {
  box-shadow: 0 0 10px rgb(116, 115, 115, 0.3);
}

.my-reservation .reservation-group {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.my-reservation .reservation-group label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.my-reservation .reservation-group input {
  height: 40px;
  width: 100%;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid gray;
}

.my-reservation .reservation-group textarea {
  padding: 1.5rem;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
}

.my-reservation .reservation-group button {
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  margin-left: auto;
  transition: all 0.5s ease-in;
}

.my-reservation .reservation-group button:hover {
  background: rgb(194, 137, 247);
  cursor: pointer;
}
/* end contact style */

/* style for contact */
.contact {
  width: 100vw;
  min-height: 100vh;
}

.contact .contact-sosmed {
  width: 100vw;
  height: 20vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.contact .contact-sosmed ul {
  display: flex;
}

.contact .contact-sosmed ul li {
  padding: 0 2em;
}

.contact .contact-sosmed ul li a {
  text-decoration: none;
  color: rgb(212, 212, 255);
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.contact .contact-sosmed a:hover {
  color: white;
}

.contact .contact-content {
  padding: 0 150px;
  box-sizing: border-box;
}

.contact .contact-content .contact-text {
  margin-top: 30px;
  position: relative;
}

.contact .contact-content .contact-text h6 {
  font-size: 1.2rem;
  font-weight: inherit;
}

.contact .contact-content .contact-text h3::after {
  content: "";
  width: 10%;
  height: 5px;
  border-radius: 50px;
  display: flex;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
}

.contact .contact-content .list-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px;
  padding: 10px;
  margin: 50px 0;
}

.contact .contact-content .list-card .contact-card {
  padding: 2em;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
}

.contact .contact-content .list-card .contact-card:hover {
  box-shadow: 0 0 10px rgba(179, 179, 179, 0.7);
}

.contact .contact-content .list-card .contact-card p {
  font-size: 1.3rem;
}

.contact .contact-content .maps {
  width: 100%;
  height: 100%;
}

.contact .contact-content .maps iframe {
  width: 100%;
}
/* end contact style */

/* style for footer */
.footer {
  width: 100vw;
  height: 30vh;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.footer h6 {
  font-size: 1.7rem;
  font-weight: inherit;
  color: rgb(163, 163, 163);
  margin-top: 20px;
}

.footer h6 > a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

.footer h6 > a:hover {
  color: rgb(176, 181, 222);
}
/* end footer style */

/* style for modal-login */
.login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000000;
  place-content: center;
  display: none;
  background-color: rgb(46, 46, 46, 0.7);
}

.modal-login {
  width: 70vw;
  height: 100%;
  background-color: white;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 10px;
  animation: modal 0.5s ease-in-out;
  z-index: 1;
  box-shadow: 0 0 30px rgb(37, 37, 37, 0.8);
}

@keyframes modal {
  from {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 100%;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  font-size: 3rem;
  font-weight: inherit;
}

.modal-header span {
  font-size: 3rem;
  font-weight: inherit;
  cursor: pointer;
}

.modal-body {
  margin: 20px 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form .form-group {
  margin: 15px 0;
}

.modal-form .form-group input {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
}

.modal-form .form-group label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer .button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.modal-footer .button button {
  padding: 1rem;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.modal-footer .button button:nth-child(2) {
  background-color: var(--primary-color);
}

.modal-footer .button button:nth-child(1) {
  background-color: var(--secondary-color);
  margin-right: 5px;
}
/* end style modal-login */
